html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
}

noscript {
    margin: 0;
    padding: 0;
    border: 0;
}

#noscript-padding {
    padding-top: 25px;
}

#noscript-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 24px;
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: #eef;
    z-index: 9999;
}

#container {
    margin: 0 auto;
    width: 760px;
    padding: 0 0 20px;
    border: 0;
}

#header {
    text-align: center;
    margin: 20px;
}

#description {
    text-align: justify;
    margin: 20px;
}

#description .link {
    text-align: center;
}

#demo-warning {
    text-align: center;
    margin: 20px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fee;
}

    #demo-warning p {
        margin: 10px;
    }

#api-auth {
    text-align: justify;
    margin: 20px;
}

    #api-auth #auth-inputs {
        text-align: center;
    }

    #api-auth #auth-inputs span {
        padding: 0 20px;
    }

    #api-auth #auth-inputs input {
        margin-left: 5px;
        width: 140px;
    }

#api-calls {
    margin: 20px;
    border: 1px solid #777;
}

#api-calls {
    padding: 10px;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 14px;
}

.api-call {
    border: 1px solid #000;
    padding: 15px;
    margin: 30px 10px;
    background-color: #eef;
}

    .api-call h3 {
        margin: 5px 0 10px;
        text-decoration: underline;
    }
    
    .api-call h4 {
        margin: 5px 0;
    }

    .api-call h5 {
        text-decoration: underline;
    }

    .api-call pre {
        margin: 5px 0;
    }

    .api-call input[type="text"] {
        width: 100%;
    }

    .api-call .api-call-results {
        display: block;
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #777;
        word-wrap: break-word;
        background-color: #eee;
    }
